.treatmenthistory-container{
    border-radius: 14px;
    width: 100%;
    padding: 1rem;
    padding-bottom: .5rem;
    background-color: rgba(255, 255, 255, 1);
}
.treatmenthistory-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.treatmenthistory-heading h3{
    color: rgba(76, 77, 79, 1);
    font-size: 18px;
    font-weight: 400;
}
.filter{
    padding: .5rem;
    display: flex;
    align-items: center;
    background-color: rgb(235, 232, 232);
    border-radius: 8px;
    gap: .4rem;
}
.treatmenthistory-heading .filter h2{
    font-size: 14px;
    color: rgba(76, 77, 79, 1);
    font-weight: 400;
}
.treatmenthistory-heading .filter button{
    background: none;
    color: rgba(76, 77, 79, 1);
    font-size: 14px;
    font-weight: 400;
    border: none;
}

@media screen and (max-width: 500px){
    .treatmenthistory-heading h3{
        font-size: 15px;
    }
    .treatmenthistory-heading{
        justify-content: left;
        gap: 1rem;
        flex-wrap: wrap;
    }
}